{% extends 'example/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
      <title>Example</title>
    {% endblock title %}  
</head>
<body>

    {% block content %}
    <div class="container">
        {% for test in first %}
        {{ test.name  }} {{ test.date_added }}
        <br>
           {{ test.text }}
        <br>
        <br>

        {% endfor %}
    </div>
    {% endblock content%}
</body>
</html>